<!DOCTYPE html>
<html lang="en">
 
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>SignUp Template for Bootstrap </title>

	 <link href="static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="static/css/signup.css" rel="stylesheet">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	 <script src="static/js/signUp.js"></script>
</head>
 
<body>
    <div class="container">
        <form class="form-signin"  role="form">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        <input type="email" id="inputUsername" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>       
        <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
		</form>   
     </div>  
</body>
 
</html>
